<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">


<div class="title padded">
<a href="/cocktails" width="42""> <img src="http://image.flaticon.com/icons/png/64/175/175779.png"> </a>
         <h1>MOLOTOV COCKTAIL</h1>
         <h3>- The Place to be for Cocktails lovers -</h3>
         <br>
</div>

<div class="text-center padded title">

  <h2>CREATE A COCKTAIL</h2>
  <br>
  <%= form_for(@cocktail) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name  %>
  <%= f.submit :class => "btn btn-success" %>
  <%= link_to "Cancel", "/cocktails", :class => "btn btn-danger" %>
  <% end %>

</div>




