<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">


<div class="title padded">
<a href="/cocktails" width="42""> <img src="http://image.flaticon.com/icons/png/64/175/175779.png"> </a>
         <h1>MOLOTOV COCKTAIL</h1>
         <h3>- The Place to be for Cocktails lovers -</h3>
         <br>
</div>


<div class="row padded">
  <div class=" col-sm-4"></div>
    <div class="col-sm-4 text-center">
      <div class="cocktail_card title">


      <h2><%= @cocktail.name.upcase %></h2>
      <h3>Ingredients & Doses</h3>
        <ul>
          <% @cocktail.doses.each do |dose| %>
            <li><%=dose.description %> of <%= Ingredient.find(dose.ingredient_id).name %></li>
          <%end%>
        </ul>

      </div>
    <br>
    <%= link_to "Add Doses", "/cocktails/#{@cocktail.id}/doses/new", :class => "btn btn-primary" %>
    <%= link_to "Delete", "/cocktails/#{@cocktail.id}", method: :delete, data: { confirm: "Are you sure?" }, :class => "btn btn-danger" %>
  </div>
</div>


