<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">




<div class="title padded">
<a href="/cocktails" width="42""> <img src="http://image.flaticon.com/icons/png/64/175/175779.png"> </a>
         <h1>MOLOTOV COCKTAIL</h1>
         <h3>- The Place to be for Cocktails lover -</h3>
         <br>
</div>

<div class="text-center padded title">
<h2>ADD INGREDIENTS WITH DOSES</h2>
<%= form_for [@cocktail, @dose] do |f| %>
  <%= f.label :description %>
  <%= f.text_field :description %><br>
  <%= f.label :ingredient_id %>
  <%= f.collection_select :ingredient_id, Ingredient.all, :id, :name %><br>
  <%= f.submit :class => "btn btn-primary" %>
<% end %>

<br><br>


</div>
